body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
}
@font-face
{
   font-family: Calibri;
   src: url('calibri.woff') format('woff'),
        url('calibri.ttf') format('truetype'),
        url('calibri.svg') format('svg'),
        url('calibri.eot') format('embedded-opentype');
}
@font-face
{
   font-family: "Calibri Light";
   src: url('calibril.woff') format('woff'),
        url('calibril.ttf') format('truetype'),
        url('calibril.svg') format('svg'),
        url('calibril.eot') format('embedded-opentype');
}
@font-face
{
   font-family: Roboto;
   src: url('verdana.woff') format('woff'),
        url('verdana.ttf') format('truetype'),
        url('verdana.svg') format('svg'),
        url('verdana.eot') format('embedded-opentype');
}
a
{
   color: #CFDCE5;
   text-decoration: underline;
}
a:active
{
   color: #E6E7E8;
}
a:hover
{
   color: #DCDCDC;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.style1
{
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   cursor: pointer;
}
#wb_Form1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
}
#wb_Text1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
}
#Button1
{
   opacity: 0.00;
   margin: 0;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Checkbox1
{
   margin: 0;
}
#wb_Text2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   font-family: "Calibri Light";
   font-weight: normal;
   font-size: 11px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5
{
   font-family: "Calibri Light";
   font-weight: normal;
   font-size: 9.3px;
   line-height: 11px;
}
#wb_Text5 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#phone
{
   border: 1px solid #708DA0;
   border-radius: 20px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Calibri;
   font-weight: normal;
   font-size: 16px;
   line-height: 44px;
   padding: 0px 0px 0px 12px;
   margin: 0;
   text-align: left;
}
#Editbox5
{
   border: 1px solid #708DA0;
   border-radius: 20px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Calibri Light";
   font-weight: normal;
   font-size: 19px;
   line-height: 36px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox1
{
   border: 1px solid #708DA0;
   border-radius: 20px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Calibri Light";
   font-weight: normal;
   font-size: 19px;
   line-height: 36px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
.form-response {
   display: none;
}
