.range {
  left: 215px !important;
}
.range__field {
  position: absolute;
  bottom: -12px;
  left: calc(100% + 17px);

  width: 40px;
  height: 20px;

  border: 1px solid #E1E4E9;
  color: #B7B9BD;
  text-align: center;
}
.range__field--offset {
  bottom: -22px;
}

.title {
  left: 12px !important;
}
