.tabs {
  position: absolute;
  z-index: 66;
  top: 37px;
  left: 60px;

  width: 604px;
  height: 46px;
  display: flex;
  overflow: hidden;

  background-color: #e8f2f7;
  border-radius: 14px 14px 0 0;
}

.tabs__tab {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 14px 14px 0 0;
  font-size: 20px;
  cursor: pointer;
}
.tabs__tab--active {
  background-color: white;
}
.tabs__tab:not(.tabs__tab--active) {
  cursor: pointer;
}
.tabs__content:not(.tabs__content--active) {
  display: none;
}

.checkbox {
  top: 151px !important;
  left: 540px !important;
}
.checkbox > label::before {
  width: 18px !important;
  height: 18px !important;
}

.checkbox-text {
  top: 151px !important;
  left: 566px !important;
}
.checkbox-text > span {
  font-size: 14px !important;
  line-height: 1.1 !important;
}

.section {
  background: none !important;
}
.section::before {
  position: absolute;
  z-index: -1;
  top: -83px;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";
  height: 630px;

  background-color: transparent;
  background-image: url(/images/111111111111111111.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.section__title {
  position: absolute;
  top: calc(-83px + 48px);
  left: 50%;
  transform: translateX(-50%);

  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 24px;
  color: #ffffff;
}
